:root {
  --app-bar-height: 60px;
}

.appBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--app-bar-height);
}

.search {
  margin-left: 1.25em;

  padding: 0.5em 0;
}

.themeToggle {
  margin-left: auto;
}

.searchTextRoot {
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

.searchTextRootInContent {
  padding: 0.3em 1.5em;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.searchTextInput {
  margin-left: 0.1em;
  flex: 1;
}

.searchTextIconButton {
  padding: 0.5em;
}

.searchResultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 1.5em;

  max-width: 1000px;

  margin: var(--app-bar-height) auto 0;
}

.pokemonImage {
  img {
    border-radius: 20px;
    border: 1px solid #000;
    max-width: 100%;
  }

  padding: 1em;
}

.pokemonDetail {
  padding: 1em;
}

.evolutions {
  text-align: center;
  display: flex;
  align-items: center;
}

.pokemonAvatarContainer {
  display: flex;
}

.pokemonAvatar {
  margin: 0 0.5em;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.loading,
.notFound,
.notCalled {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .searchResultContainer {
    flex-direction: column;
  }
}
