.appBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin-left: 20px;
}

.themeToggle {
  margin-left: auto;
}

.searchTextRoot {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
}

.searchTextRootInContent {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 60px;
}

.searchTextInput {
  margin-left: 7px;
  flex: 1;
}

.searchTextIconButton {
  padding: 10px;
}

.searchResultWrapper {
  padding-top: 80px;
  min-height: 100vh;
}

.searchResultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.pokemonImage {
  margin: 5px;
}

.pokemonImage > img {
  border-radius: 20px;
  border: 1px solid #000;
  max-width: 100%;
}

.pokemonDetail {
  margin: 10px;
}

.evolutions {
  text-align: center;
  display: flex;
  align-items: center;
}

.pokemonAvatarContainer {
  display: flex;
}

.pokemonAvatar {
  margin: 0 3px;
}

@media (max-width: 768px) {
  .searchResultContainer {
    flex-direction: column;
    padding: 0 10px;
  }

  .pokemonImage {
    margin: 0;
  }

  .pokemonDetail {
    margin: 0;
  }
}

.loadingWrapper,
.notFoundWrapper,
.notCalledWrapper {
  margin: auto;
  width: 100%;
  min-height: 100vh;
}

.loading,
.notFound,
.notCalled {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
